<table class="table table-striped table-bordered my-4">
    <tr>
        <td>
        </td>
        <td>Excellent
        </td>
        <td>Competent
        </td>
        <td>Needs Improvement
        </td>
    </tr>
    <tr>
        <td>Formatting
        </td>
        <td>No formatting errors
        </td>
        <td>1 formatting error
        </td>
        <td>2 or more formatting errors
        </td>
    </tr>
    <tr>
        <td>Mechanics
        </td>
        <td>Structure is clear and builds the argument in a convincing and compelling way. Sentences contain almost no
            grammar issues, use active language, and maintain a scholarly tone.
        </td>
        <td>May contain a few grammatical issues, but overall ideas are still clear.
        </td>
        <td>Prolific and persistent grammar problems. Lacks clarity or precision in describing ideas. Does not adhere to
            a scholarly manner of writing.
        </td>
    </tr>
    <tr>
        <td>Content
        </td>
        <td>Strong thesis statement that clearly connects historically-situated concepts between several readings. This
            argument is consistently supported with clear evidence and quotations throughout the paper.
        </td>
        <td>Relatively clear argument supported by sufficient evidence.
            
                Focuses on summary or statement of fact, rather than original argument.
        </td>
        <td>Lack of argument, unclear analysis, or unexplained evidence.
        </td>
    </tr>
    <tr>
        <td>Sources
        </td>
        <td>Engaged with at least three oral histories and a range of other primary and secondary sources.
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>