<table class="table table-striped table-bordered my-4">
    <tr>
        <td>
        </td>
        <td>Excellent
        </td>
        <td>Developing
        </td>
        <td>Needs Improvement
        </td>
    </tr>
    <tr>
        <td>Questions/Tags
        </td>
        <td>Complete and Thoughtful
        </td>
        <td>Difficult to follow, poorly constructed, or not on topic.
        </td>
        <td>Incomplete.
        </td>
    </tr>
    <tr>
        <td>Interview
        </td>
        <td>Demonstrates careful thought, consideration for your narrator, and attention to best practices.
        </td>
        <td>Demonstrates interest and engagement with topic. Some minor issues with equipment, structure, time limit,
            etc.
        </td>
        <td>Poorly structured interview or inattentive to narrator’s needs.
        </td>
    </tr>
    <tr>
        <td>Transcription Content
        </td>
        <td>Error-free transcription.
        </td>
        <td>Competent transcription with minor errors.
        </td>
        <td>Incomplete or quick transcription with numerous typographical errors.
        </td>
    </tr>
    <tr>
        <td>CSV/Tags/Upload
        </td>
        <td>Fully uploaded, neat CSV with appropriate tags (minimum 3 used).
        </td>
        <td>Competent CSV with minor typographical errors, fewer tags, or unclear speaker initials.
        </td>
        <td>Incomplete or posted with numerous typographical errors; unclear speaker initials; lacking biographical
            information; insufficient tags.
        </td>
    </tr>
</table>